---
# defaults file for post_roles/common

# FROM TASK: <po_r_common_t_common> set end stats
play_name: "{{ ansible_play_name | regex_replace('-', '_') }}"
ip_add_re_ss: "{{ ansible_facts['default_ipv4']['address'] | regex_replace('\\.', '_') }}"
stats_file_name: "{{ play_name }}-{{ ip_add_re_ss }}"

date_cmd: "date +'%Y-%m-%d %H:%M:%S'"
end_stats:
  data:
    play: "{{ ansible_play_name }}"
    project: "{{ project | default('UNDEFINED') }}"
    playbook_dir: "{{ playbook_dir }}"
    status: 1
    end: "{{ lookup('pipe', '{{ date_cmd }}') }}"
