# {{ project | title }}

[![build status][shield-build]][info-build]
[![gitter room][shield-gitter]][info-gitter]
[![license][shield-license]][info-license]
[![release][shield-release]][info-release]
[![prs welcome][shield-prs]][info-prs]

> Project description

[TOC]

## Requirements

- **Platforms:**
  - CentOS-7
  - CentOS-8
  - Fedora
  - MacOS
  - Ubuntu
- **Dependencies:**
  -

## Installation

## Usage

## Examples

## Why?

> If your project does something already catered for by another project or is particularly complex, it’s useful to provide some justification.

## Contributing

See the [contribution guide][info-contribute].

## Support and Migration

> A section on the support status of your project is very helpful, especially once you’ve released a few different major versions. This section is mostly useful to existing users who may need some hand-holding through a migration between major versions of your project.
>
> A full migration guide might be a bit long to add to your README, I use a `MIGRATION` file in the root of my project repositories and link to it from this section ([see pa11y for an example](https://github.com/springernature/pa11y/blob/master/MIGRATION.md)).

## Common Questions

> A place for frequently asked questions, to reduce duplicate issues being opened.

## Thanks

The following excellent people helped massively:

- [Rowan Manning](https://rowanmanning.com)
-

## License

{{ project | title }} is licensed under the [{{ license }}][info-license] license.
Copyright &copy; {{ year }}, {{ author | title }}

[info-build]: {{ info_build_url }}
[info-contribute]: {{ info_contribute_url }}
[info-gitter]: {{ info_gitter_url }}
[info-license]: {{ info_license_url }}
[info-release]: {{ info_release_url }}
[info-prs]: {{ info_prs_url }}

[shield-build]: {{ shield_build_url }}
[shield-gitter]: {{ shield_gitter_url }}
[shield-license]: {{ shield_license_url }}
[shield-release]: {{ shield_release_url }}
[shield-prs]: {{ shield_prs_url }}
